@import '../movieCard/movieCard';

.broButton {
    position: absolute;
    height: 2rem;
    width: 2rem;
    // padding: .25em;
    border-radius: 2rem;
    background-color: darkred;
    color: white;
    z-index: 5;

    cursor: pointer;

    &:hover {
        box-shadow: 0 0 8px yellow;
    }

    &.Jake-Burbage {
        left: -1rem;
        top: -1rem;
    }
    &.Frank-Falisi {
        left: $movieCardWidth - 1rem;
        top: -1rem;
        
    }
    &.Ray-Fallon {
        left: -.8rem;
        top: $movieCardHeight - 1rem;
        
    }
    &.Curt-Foxworth {
        left: $movieCardWidth - 1rem;
        top: $movieCardHeight - 1rem;
        
    }

    .initials {
        font-size: .75em;
    }
}
